.ChatApp {
  padding: 1% 24% 0 24%;
  height: 64vh;
}

.title_up {
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  font-size: 57.69px;
  color: white;
  margin: 0;
  line-height: 155%;
  text-transform: capitalize;
}

.title_down {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 18.21px;
  color: white;
  margin: 0;
  line-height: 155%;
  margin-bottom: 3%;
}