.ChatApp {
  padding: 1% 24% 0 24%;
  height: 64vh;
  @media (max-width: 850px) or (orientation: portrait) {
    padding: 5% 5% 0 5%;
  }

}

.title_up {
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  font-size: 57.69px;
  color: white;
  margin: 0;
  line-height: 155%;
  text-transform: capitalize;
  @media (max-width: 850px) or (orientation: portrait) {
    font-size: 36px;
    line-height: 100%;
  }
}

.title_down {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 18.21px;
  color: white;
  margin: 0;
  line-height: 155%;
  margin-bottom: 3%;
}
